/* This is the beginning of the style.css file */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    font-family: Montserrat;
    font-size: 15px;
    height: 120vh;
}
a{
    text-decoration: none;
    color: white;
}
/* first section top navigation bar */
.topnav{
    background-color:#013255 ;
    display: flex;
    padding: 10px 45px;
  
}

.topnav .logo_container{
    display: flex;
}
.topnav h3{
    margin-top: 10px;
}
.topnav .mail a{
    margin-top: 0.5rem;
    margin-left:0.5rem ;

}
.topnav a img{
    color: white;
    padding-bottom: 10px;
}
.topnav .mail{
    display: flex;
    margin-left: auto;
}
.topnav .downarrow{
    margin-top: 10px;
}
.hero_section{
    background-color: white;
    height: 13vh;
    margin-bottom: 4rem;

}
.hero_section .first_section{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 0.5% 5%;
}
.hero_section .first_section .arrow{
    margin-top: 15px;
    border: none;
}
.first_section .centernum{
    display: flex;
    margin: auto;
    justify-content: space-between;
    text-align: center;
    width: 45%;
}

.first_section .number{
    box-sizing: border-box;
    background-color: #d9d9d9;
    border: 2.5px solid #013255;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#active {
    background: #D6E9FB;
}
.first_section .div2 .number,.first_section .div1 .number,.first_section .div3 .number{
    font-size: 20px;
    padding-top: 10px;
}
.first_section .div1 p{
    color: #013255;
}
.first_section .div2 p,.first_section .div3 p{
    color: #B4B4B4;
}


.first_section .container{
    height: 50px;
    align-items: center;
}
.first_section .centernum p{
    font-weight: 900;
    
}
.first_section .centernum .line{
    padding-top: 30px;
}
.first_section .div1 .title, .first_section .div2 .title, .first_section .div3 .title{
    padding-top:1rem;
    font-size: 15px;
}
.first_section .line img{
    width: auto;
}

.div1 , .div2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .card{
    background: #D6E9FB;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 13rem;
    height: 10rem;
    margin: 1rem 2rem;
    text-align: center;
    display: grid;
    grid-template-rows: 80% 20%;
}

.card p {
    font-weight: 600;
}

.container .card_container{
    display: grid;
    grid-template-columns: auto auto auto ;
    justify-content: center;
    max-width: 100%;
}

.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon p {
    font-size: 14px;
    font-weight: 400;
}

.icon img{
    width: 20%;
    margin: 2% auto 4%;
}

/* responsivness and breakpoints */
@media only screen and (max-width: 360px){
    .topnav .mail .mail_site{
        display: none;
    }
    .container .hero_section {
        margin-top: 10px;
    }
}
@media only screen and (max-width: 640px){
    .second_section .container {
        margin: 10px 20px;
        padding-left: 10px;
        max-width: max-content;
    }
    .hero_section .first_section .line{
        display: none;
    }
    .container .first_section{
        padding-left: 0px;
    }
    .container .title p{
        display: none;
    }
    .container .card_container{
        display: flex;
        flex-direction: column;
    }
}