body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: #013255;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 65% 35%;
    height: 10vh;
}

header h4 {
    margin-right: 3%;
}

header div {
    display: flex;
    padding-left: 5%;
    align-items: center;
}

/* footer {
    margin-top: 50px;
    height: 50px;
    display: grid;
    grid-template-columns: 45% 25% 30%;
    background: #013255;
}

footer div {
    display: flex;
    align-items: center;
    color: white;
}

footer .info-div {
    justify-content: center;
}

footer p {
    margin: 0 8%;
}

footer span {
    color: #fff;
}

footer p > a {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #D2D2D2;
    margin: 0;
    padding: 0;
}

footer img {
    margin: 0 1%;
} */

a {
    margin-right: 8%;
    padding: 1%;
    margin-left: 1%;
    color: white;
}

a :hover {
    font-weight: 600;
}

h4 {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #D2D2D2;
    
}

main {
    width: 80%;
    margin: auto auto;
    display: grid;
    grid-template-columns: 60% 40%;
}

.div-info {
    display: flex;
    flex-direction: column;
    padding: 10%;
}

h1 {
    font-family: Poppins, "sans-serif";
    font-weight: 900;
    font-size: 42px;
    color: #191919;
}

.div-info p {
    margin: 7% 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    color: #013255;
}

.div-info button {
    background: #013255;
    border-radius: 20px;
    border: none;
    width: 70%;
    height: 45px;
    margin-left: 5%;
    font-weight: 700;
    color: #D2D2D2
}


#generator {
    margin-left: 17%;
}

footer {
    margin-top: 2rem;
    background: #013255;
    color: white;
    display: flex;
    padding-bottom: 1%;
    justify-content: space-around;
}

.footer-container a  {
    margin-right: 0;
}


.footer-pages {
    font-family: Montserrat;
    font-size: 38px;
    font-weight: 700;
    height: 57px;
    letter-spacing: 0.25px;
    line-height: 57px;
    margin-bottom: 0px;
    margin-left: 50px;
    margin-top: 5px;
    width: 120px;
    color: white;
}

.footer-list {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    color: white
}

.footer-list a {
    font-family: Montserrat;
    font-size: 15px;
    line-height: ;
    font-weight: 700;
    letter-spacing: 0.5px;
    height: 24px;
    line-height: 24px;
    margin-left: 50px;
    margin-top: 12px;
    text-decoration: none;
    color: white;
}

.footer-home{
    width: 96px;
}

.footer-about{
    width: 80px;
}

.footer-contact{
    width: 95px;
}

.footer-faq{
    width: 37px;
}

.footer-create{
    height: 24px;
    width: 132px;
}

.footer-barcode {
    height: 49px;
    width: 49px;
    margin-left: 397px;
    margin-bottom: 0PX;
    margin-top: 30px;
}

.footer-qr {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 24px;
    height: 24px;
    margin-left: 306px;
    margin-top: 5px;
    text-align: left;
    width: 241px;
    color: white;
}

.footer-second hr {
    margin-left: 210px;
    margin-right: 8px;
    margin-bottom: 0px;
    margin-top: 80px;
}

.footer-copy {
    font-family: Montserrat;
    font-size: 12px;
    height: 20px;
    line-height: 15px;
    letter-spacing: 0.4000000059604645px;
    margin-top: 10px;
    margin-left: 170px;
    text-align: left;
    color: white;
}

.footer-have {
    font-family: Poppins;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 39px;
    margin-bottom: 0px;
    margin-top: 50px;
    color: white;
}

.footer-support {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 50;
    height: 24px;
    text-decoration-line: underline;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-align: right;
    color: white;
}

.footer-images {
    margin-top: 50px;
}

.footer-facebook {
    cursor: pointer;
    height: 94px;
    width: 94px;
}

.footer-twitter {
    cursor: pointer;
    height: 94px;
    width: 94px;
}

.footer-linkedin {
    cursor: pointer;
    height: 94px;
    width: 94px;
}