body {
    border: 0px;
    box-sizing: border-box;
    margin: 0px;
}

.container {
    text-align: center;
}

.container img {
    height: 300px;
    width: 300px;
    margin-top: 80px;
}

.container p{
    font-family: Montserrat;
    font-size: 29px;
    line-height: 29px;
    letter-spacing: 0em;
    line-height: 29px;
    margin-bottom: 70px;
}

.next {
    background: #013255;    ;
    border: 0px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    margin-right: 2px;
    padding: 16px 24px 16px 24px;
    width: 437px;
}
@media (max-width: 480px) {
    .container img {
        height: 200px;
        width: 200px;
        margin-top: 80px;
    }
    
    .container p{
        font-family: Montserrat;
        font-size: 25px;
        line-height: 29px;
        letter-spacing: 0em;
        line-height: 29px;
        margin-bottom: 70px;
    }
    
    .next {
        background: #013255;    ;
        border: 0px;
        border-radius: 8px;
        color: white;
        cursor: pointer;
        font-size: 20px;
        height: 50px;
        margin-right: 2px;
        padding: 16px 24px 16px 24px;
        width: 300px;
    }
	}