/* This is the beginning of the style.css file */
/* body */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* variables */
:root {
	--main_color: #013255;
	--black: #191919;
	--grey: #b4b4b4;
	--20px: 20px;
	--600: 600;
	--Montserrat: "Montserrat", sans-serif;
	--Poppins: "Poppins", sans-serif;
	--small: 200;
}

body,
html {
	color: var(--main_color);
	font-family: var(--Poppins);
}

/* header styling */
.header_d5 {
	height: 70px;
	width: 100%;
	background-color: var(--main_color);
	text-align: center;
}

.header_d5 > h1 {
	margin-top: 0.5rem;
	color: white;
}

.form_d5pw {
	margin: auto;
	margin-top: 50px;
	width: 100%;
	height: 430px;
	max-height: 430px;
}

.form_d5pw form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	/* margin: auto; */
}

.form_d5pw form ::placeholder {
	color: var(--grey);
	font-weight: 200 !important;
	font-size: 17px;
}

.form_d5pw form input[type="password"] {
	width: 70%;
	margin-bottom: 25px;
	border: 1px solid var(--main_color);
	padding: 15px;
	font-weight: 200 !important;
	font-size: 17px;
	outline: none;
	border-radius: 8px;
}

label {
	font-weight: 600;
	font-size: 17px;
	align-self: flex-start;
	margin-left: 130px;
}

.form_d5pw form input[type="submit"] {
	padding: 15px;
	width: 70%;
	background-color: var(--main_color);
	color: white;
	font-family: var(--Poppins);
	font-size: 15px;
	cursor: pointer;
	border: none;
	outline: none;
	border-radius: 8px;
	margin-top: 25px;
}

.body-col-2_d5pw {
	display: flex;
	border: 1px solid var(--main_color);
	width: 50%;
	margin: auto;
	margin-top: 3rem;
	border-radius: 8px;
	justify-content: center;
}

.left-text {
	margin-bottom: 10px;
	width: 70%;
	color: var(--grey);
}

.form-text_d5pw {
	display: flex;
	flex-direction: column;
	margin-left: 130px;
}

footer {
	bottom: 0;
	position: fixed;
	width: 100%;
}
