/* This is the beginning of the style.css file */
/* body */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables */
:root {
    --main_color: #013255;
    --black: #191919;
    --20px: 20px;
    --600: 600;
    --Montserrat: 'Montserrat', sans-serif;
    --Poppins: 'Poppins', sans-serif;
}

body, html {
    color: black;
    font-family: var(--Poppins);
}

/* hide scrollbar */

/* ::-webkit-scrollbar {
    display: none;
} */

/* Dashboard 5 styling */

/* header styling */

.grid_d5 {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* body styling */

/* grid */
main {
    width: 100%;
    display: grid;
    grid-template-columns: 200px auto;
    margin-bottom: auto;
}

footer span {
    color: #fff;
}

.sidebar {
    background: #013255;
    display: grid;
    height: 80vh;
    grid-template-rows: 50% 50%;
    padding: 10%;
}

.sidebar a {
    margin-right: 5%;
    color: #fff;
}

.sidebar p {
    color: #fff;
}

.sidebar > div {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-weight: 500;
}

.sidebarNav {
    justify-content: space-around;
}

.logout {
    justify-content: end;
    align-items: center;
}

.sidebar img {
    margin-right: 8%;
}

.sidebar div div {
    display: flex;
}

.content {
    margin-top: 2.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.content > div {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#qr_section {
    width: 60%;
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid #222;
    height: 450px;
    padding: 2%;
    margin-top: 20px;
}

#qr_section img {
    width: 50%;
}

#qr_section div {
    height: 110%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#qr_section button {
    background: #013255;
    border: 1px solid #013255;
    border-radius: 8px;
    padding: 6%;
    width: fit-content;
    color: #fff;   
    margin-bottom: 2%; 
}

#qr_section div:nth-child(2){
    margin-top: 5%;
    justify-content: start;
}



.create-qr {
    background-color: var(--main_color);
    width: 60%;
    text-align: center;
    margin: auto;
}

.create-qr > div {
    margin: auto;
}

.create-qr > div > i {
    font-size: 18px;
    margin: auto;
    color: #fff;
    margin-right: 10px;
}

.right_d5-bar {
    border: 1px solid #013255;
    padding: 1%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_d5-bar div:nthChild(1) img {
    margin-right: 4px;
}

::placeholder, .bold-txt_d5, .bottom_d5-p > a, .left_navd5-section > div > a, .grid-row-4_d5 > div > a {
    color: var(--black);
    font-family: var(--Poppins);
    font-size: var(--20px);
    font-weight: var(--600);
    text-decoration: none;
}

#submit_qr {
    background-color: var(--main_color);
    color: white;
    font-size: var(--20px);
    font-weight: 400;
    border: none;
    height: 45px;
    width: 380px;
    margin: auto;
    margin-top: 45px;
    position: absolute;
    border-radius: 8px;
    cursor: pointer;
}



.bottom_d5 {
    height: 380px;
    padding: 30px;
    padding-top: 17px;
    padding-bottom: 40px;
}

.qr-link {
    margin-top: -8px;
    margin-left: 6px;
    font-size: 16px;
}

.btn_d5 {
    background-color: var(--main_color);
    color: white;
    font-size: var(--20px);
    font-weight: 400;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    position: absolute;
    margin-left: 5px;
    margin-top: 17px;
}

.btn_d5-2 {
    margin-top: 85px;
}

.bottom_d5-p {
    margin-bottom: 2%;
}

.grid-col-2-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
    gap: 5px;
    padding: 20px;
    padding-top: 30px;
}

.grid-col-2-bottom input {
    border: none;
    outline: none;
    padding-top: 5px;
    width: 100%;
    font-size: var(--20px);
    font-weight: var(--600);
    font-family: var(--Poppins);
}

.submit_qr {
    padding-right: 378px;
}

#see-more {
    margin-left: 150px;
    color: var(--black);
}
/* extras */


.center-text {
    text-align: center;
}

.align-right {
    text-align: right;
}

.inline-flex {
    display: inline-flex;
}

.inline-flex p {
    color: #fff;
}

.grid-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    grid-template-areas: ". .";
}

.bold {
    font-weight: var(--600);
}

.margin-left {
    margin-left: 15px;
}

.margin-right {
    margin-right: 80px;
}

.grid-row-4_d5 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: ".";
    gap: 40px;
}

.margin-top_small {
    margin-top: 10px;
}

.padding-top {
    padding-top: 45px;
}

.absolute {
    position: absolute;
}

.margin-top-logout {
    margin-top: 50px;
}

.margin-auto {
    margin: auto;
}

.logout_d5 {
    margin-left: -34.5px;
}

#log-out:hover {
   cursor: pointer;
   font-weight: 600; 
}