@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Nunito:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #013255;
    padding: 20px;
    margin: auto;
}

.label {
    padding-top: 30px;
    color: #013255;
    font-size: 18px;
    font-weight:500;
    line-height: 24.38px;
    padding-left: 500px;
    margin: 20px;

}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 8px;
    width: 45%;
    display: block;
    border-radius: 8px;
    border: none;
    border: 1px solid #013255;
    outline: none;
    color: #013255;
    margin-bottom: 15px;
}

.btn {
    width: 45%;
    padding: 7px;
    margin-top: 15px;
    background-color: #013255;
    color: white;
    font-size: 20px;
    font-weight:400;
    line-height: 28px;
    border-radius: 8px;
    outline: none;
}

p {
    font-size: 15px;
    font-weight: 400;
    margin-top: 25px;
    margin-left: 70px;
}

a {
    text-decoration: none;
    color: #013255;
    font-weight: bolder;
}

.signup {
    background-color: white;
    color: black;
    border:none;
    border: 1px solid black;
    margin-top: 25px;
    padding: 7px;
    font-size: 18px;
    font-weight: 500;
    width: 370px;
    border-radius: 9px;
    height: 50px;
}

.google {
    width: 25px;
    float: left;
    margin-left: 30px;
}

footer {
    margin-top: auto;
    height: 8vh;
    display: grid;
    grid-template-columns: 45% 25% 30%;
    background: #013255;
}

footer div {
    display: flex;
    align-items: center;
    color: white;
}

footer .info-div {
    justify-content: center;
}

footer p {
    margin: 0 8%;
}

footer p > a {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #D2D2D2;
}

footer img {
    margin: 0 1%;
}