.create-code {
    justify-content: right;
    margin-right: 15%;
}

main {
    width: 87%;
    height: 75vh;
    display: grid;
    grid-template-columns: 200px auto;
}

.sidebar {
    background: #013255;
    display: grid;
    grid-template-rows: 50% 50%;
    padding: 10%;
}

.sidebar > div {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-weight: 500;
}

.sidebarNav {
    justify-content: space-around;
}

.logout {
    justify-content: end;
    align-items: center;
}

.sidebar img {
    margin-right: 8%;
}

.sidebar div div {
    display: flex;
}

.content {
    height: 95%;
    width: 65%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
}

.content div {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    width: 100%;
}

#form-div {
    width: 110%;
    height: 41px;
}

#form-div button {
    height: 70%;
}

input {
    width: 100%;
    height: 90%;
    padding: 1% 6%;
    height: 41px;
    border: 1px solid #013255;
    border-radius: 5px;
    margin-right: 4%;
}

button {
    background: #013255;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 1% 5%;
    color: #fff;
}