.create-code {
    justify-content: right;
    margin-right: 15%;
}

.create-code img {
    margin-left: 2%;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 200px auto;
    margin-bottom: auto;
}

.sidebar {
    background: #013255;
    display: grid;
    height: 80vh;
    grid-template-rows: 50% 50%;
    padding: 10%;
}

.sidebar a {
    margin-right: 5%;
}

.sidebar p {
    color: #fff;
}

.sidebar > div {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-weight: 500;
}

.sidebarNav {
    justify-content: space-around;
}

.logout {
    justify-content: end;
    align-items: center;
}

.sidebar img {
    margin-right: 8%;
}

.sidebar div div {
    display: flex;
}

.content {
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-rows: 100px auto;
    gap: 10px;
    
}

.content > div {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size:30px;
}

form {
    display: flex;
    width: 70%;
}

#form-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#form-div button {
    height: 70%;
}

input {
    width: 60%;
    height: 90%;
    padding: 1% 6%;
    height: 41px;
    border: 1px solid #013255;
    border-radius: 5px;
    margin-right: 4%;
}

button {
    background: #013255;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 1% 5%;
    color: #fff;
}

#create_qrcode {
    width: 30%;
    margin: auto;
    margin-top: 3%;
}

#qrcodes_container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.qrcode {
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #333;
    border-radius: 15px;
    margin: 0 auto;
    background: #ccc;
}