body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header {
    background: #013255;
    display: flex;
    height: 52px;
}

.homeIcon {
    cursor: pointer;
    height: 45px;
    margin-left: 83px;
    margin-top: 4px;
    width: 35px;
}

.container {
    display: flex;
}

.leftDiv {
    height: 441px;
    margin-left: 72px;
}

.leftList {
    background: #D6E9FB;
    border: 1px solid #00000040;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 0px #00000040;
    margin-top: 0px;
    width: 280px;
}

.leftList li {
    margin-bottom: 2rem;
}


.lOne {
    color: #141414;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    height: 29px;
    left: 23px;
    letter-spacing: 0em;
    line-height: 29px;
    margin-right: 0px;
    margin-top: 16px;
    padding-right: 0px;
    padding-top: 20px;
    text-align: left;
    width: 220px;
}

.lTwo{
    color: #141414;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    height: 58px;
    letter-spacing: 0em;
    line-height: 29px;
    margin-right: 0px;
    margin-top: 12px;
    padding-right: 0px;
    text-align: left;
    width: 220px;
}

.list-two-two{
    font-size: 20px;
    letter-spacing: 0em;
    margin-left: -19px;
    margin-top: -20px;
}

.lThree {
    color: #141414;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    height: 29px;
    letter-spacing: 0em;
    line-height: 29px;
    margin-right: 0px;
    margin-top: 12px;
    padding-right: 0px;
    text-align: left;
    width: 240px;
}

.how {
    color: #141414;
    font-size: 32px;
    font-weight: 500;
    line-height: 44.8px;
    height: 45px;
    margin-bottom: 10px;
    margin-left: 46px;
    margin-top: 25px;
    width: 234px;
}

.get {
    border-radius: 8px;
    font-family: montserrat;
    font-size: 19px;
    font-weight: 500;
    height: 42px;
    line-height: 28px;
    margin:130px 10% 20px;
    padding: 8px 42px 10px 42px;
    width: 80%;
}

.middle {
    background: #00000040;
    box-shadow: 0px 4px 10px 0px #00000040;
    height: 558px;
    margin-left: 110px;
    margin-top: 90px;
    width: 10px;
    display: flex;
}

.rightDiv {
    margin-left: 0px;
}

.qr {
    font-size: 32px;
    font-weight: 500;
    line-height: 44.8px;
    height: 45px;
    margin-bottom: 30px;
    margin-left: 395px;
    margin-top: 25px;
    text-align: center;
    width: 275px;
}

.squares {
    display: grid;
    grid-template-columns: auto auto;
}

.square {
    background: #D6E9FB;
    border-radius: 15px;
    border-top: 1px solid #B3B1B1;
    height: 195px;
    margin-bottom: 20px;
    margin-left: 79px;
    width: 280px;
}

.square-two {
    background: #D6E9FB;
    border-radius: 15px;
    border-top: 1px solid #B3B1B1;
    height: 195px;
    margin-bottom: 20px;
    margin-left: 109px;
    width: 280px;
}

#square-left {
    margin-top: 10px;
}

#square-right {
    margin-top: 10px;
}

#link {
    height: 53px;
    margin-left: 110px;
    margin-top: 10px;
    width: 50px;
}

#wifi {
    height: 62px;
    margin-left: 100px;
    margin-top: 0px;
    width: 76px;
}

#pdf {
    height: 62px;
    margin-left: 100px;
    margin-top: 10px;
    width: 72px;
}

#apps {
    height: 59px;
    margin-left: 100px;
    margin-top: 10px;
    width: 69px;
}

.text-link {
    border-radius: nullpx;
    color: #000000;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    height: 29px;;
    letter-spacing: 0em;
    line-height: 29.26px;
    margin: 0px;
    text-align: center;
}

.text-wifi {
    border-radius: nullpx;
    color: #000000;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 29.26px;
    text-align: center;
    height: 29px;
    margin: 0px;
}

.text-pdf {
    border-radius: nullpx;
    color: #000000;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 29.26px;
    margin: 0px;
    height: 29px;
    text-align: center;
}

.text-apps {
    border-radius: nullpx;
    color: #000000;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    height: 29px;
    letter-spacing: 0em;
    line-height: 29.26px;
    margin: 0px;
    text-align: center;
}

.longText1 {
    border-radius: nullpx;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 24px;
    height: 24px;
    margin-bottom: 3px;
    margin-top: 5px;
    text-align: center;
}

.longText2 {
    border-radius: nullpx;
    color: #000000;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    height: 24px;
    letter-spacing: 0em;
    line-height: 24px;
    margin-bottom: 3px;
    margin-top: 5px;
    text-align: center;
}

.longText3 {
    border-radius: nullpx;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    height: 24px;
    letter-spacing: 0em;
    line-height: 24px;
    margin-bottom: 3px;
    margin-top: 5px;
    text-align: center;
}

.longText4 {
    border-radius: nullpx;
    color: #000000;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    height: 24px;
    letter-spacing: 0em;
    line-height: 24px;
    margin-bottom: 3px;
    margin-top: 5px;
    text-align: center;
}

.choose {
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 18px;
    height: 38px;
    line-height: 28px;
    margin-left: 94px;
    margin-top: 10px;
    padding: 6px 30px 12px 19px;
    width: 100px;
}

button {
    background: #013255;
    border: 0px;
    color: white;
    cursor: pointer;
}

.buttons {
    display: flex;
    margin-bottom: 100PX;
}

.back {
    border-radius: 8px;
    color: white;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    height: 45px;
    letter-spacing: 0em;
    margin-left: 43px;
    margin-top: 120px;
    padding: 12px 32px 16px 36px;
    width: 166px;
}

.arrowBack {
    margin-top: 0px;
    width: 15px;
}

.continue {
    border-radius: 8px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    height: 45px;
    letter-spacing: 0em;
    margin-left: 580px;
    margin-top: 100px;
    padding: 12px 32px 16px 36px;
    text-align: left;
    width: 166px;
}

.arrowContinue {
    margin-top: 0px;
    width: 15px;
}

.footer-container {
    background: #013255;
    color: white;
    display: flex;
}

.footer-container a {
    color: white;
}

.footer-pages {
    font-family: Montserrat;
    font-size: 38px;
    font-weight: 700;
    height: 57px;
    letter-spacing: 0.25px;
    line-height: 57px;
    margin-bottom: 0px;
    margin-left: 50px;
    margin-top: 5px;
    width: 125px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

.footer-list a {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    height: 24px;
    line-height: 24px;
    margin-left: 50px;
    margin-top: 12px;
    text-decoration: none;
}

.footer-home{
    width: 96px;
}

.footer-about{
    width: 80px;
}

.footer-contact{
    width: 95px;
}

.footer-faq{
    width: 37px;
}

.footer-create{
    height: 24px;
    width: 132px;
}

.footer-barcode {
    height: 49px;
    width: 49px;
    margin-left: 397px;
    margin-bottom: 0PX;
    margin-top: 30px;
}

.footer-qr {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 24px;
    height: 24px;
    margin-left: 306px;
    margin-top: 5px;
    text-align: left;
    width: 241px;
}

.footer-second hr {
    margin-left: 210px;
    margin-right: 8px;
    margin-bottom: 0px;
    margin-top: 80px;
}

.footer-copy {
    font-family: Montserrat;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    letter-spacing: 0.4000000059604645px;
    margin-top: 5px;
    margin-left: 200px;
    text-align: left;
}

.footer-have {
    font-family: Poppins;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 39px;
    margin-bottom: 0px;
    margin-left: 137px;
    margin-top: 50px;
    text-align: center;
}

.footer-support {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 50;
    height: 24px;
    letter-spacing: 0.5px;
    line-height: 24px;
    margin-left: 192px;
    text-align: center;
    width: 311px;
}

.footer-images {
    margin-left: 185px;
    margin-top: 50px;
}

.footer-facebook {
    cursor: pointer;
    height: 94px;
    width: 94px;
}

.footer-twitter {
    cursor: pointer;
    height: 94px;
    width: 94px;
}

.footer-linkedin {
    cursor: pointer;
    height: 94px;
    width: 94px;
}